{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="generator"
        content="Linux, Emacs and me" />
  <meta name="author"
        content="Kevin Cole" />
  <meta name="robots"
        content="index, follow" />
  <link rel="shortcut icon"
        href="http://aaweb.gallaudet.edu/images/favicon.ico" />
  <link rel="icon"
        href="http://aaweb.gallaudet.edu/images/favicon.ico" />
  <link rel="license"
        title="[Kevin Cole]"
        href="notice.html" />
  <link rel="author"
        title="[Kevin Cole]"
        href="http://www.linkedin.com/in/ubuntourist" />
  <link rel="Search"
        title="[Search]"
        href="/sitemap.html" />
  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet"
         href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/blog.css' %}" />
  <link rel="stylesheet"
        type="text/css"
        href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" />
  <title>Django Girls blog</title>
 </head>

<body itemscope="" itemtype="http://schema.org/WebPage">
   <header id="section_header" role="banner">
     <h1><a href="/">Django Girls blog</a></h1>
   </header>

   <article id="essence" role="main">
     <div class="content container">
       <div class="row">
         <div class="col-md-8">
           {% block content %}
           {% endblock %}
         </div>
       </div>
     </div>
   </article>

    <footer id="section_footer" role="contentinfo"
            style="background-color:#f3e3be; height:45px; border-radius:5px 5px 15px 15px;">
     <div style="float:right; font-size:10pt; margin: -11px 5px;">
      <a href="http://validator.w3.org/check?uri=referer"
         onmouseover="document.images[&quot;ValidHTML5&quot;].src=&quot;{% static 'images/valid-html5-orange.png' %}&quot;"
         onfocus="document.images[&quot;ValidHTML5&quot;].src=&quot;{% static 'images/valid-html5-orange.png' %}&quot;"
         onmouseout="document.images[&quot;ValidHTML5&quot;].src=&quot;{% static 'images/valid-html5-blue.png' %}&quot;"
         onblur="document.images[&quot;ValidHTML5&quot;].src=&quot;{% static 'images/valid-html5-blue.png' %}&quot;"><img
         id="ValidHTML5"
         style="border:0;width:88px;height:31px;"
         src="{% static 'images/valid-html5.png' %}"
         alt="Valid HTML 5"
         title="Valid HTML 5"
         height="31"
         width="88"></a>

      <a href="http://jigsaw.w3.org/css-validator/"
         onmouseover="document.images[&quot;ValidCSS3&quot;].src=&quot;{% static 'images/valid-css3-orange.png' %}&quot;"
         onfocus="document.images[&quot;ValidCSS3&quot;].src=&quot;{% static 'images/valid-css3-orange.png' %}&quot;"
         onmouseout="document.images[&quot;ValidCSS3&quot;].src=&quot;{% static 'images/valid-css3-blue.png' %}&quot;"
         onblur="document.images[&quot;ValidCSS3&quot;].src=&quot;{% static 'images/valid-css3-blue.png' %}&quot;"><img
         id="ValidCSS3"
         style="border:0;width:88px;height:31px;"
         src="{% static 'images/valid-css3.png' %}"
         alt="Valid CSS 3"
         title="Valid CSS 3"
         height="31"
         width="88"></a>
      <a href="http://wave.webaim.org/refer"><img
         id="WaveApproved"
         style="border:0;width:37px;height:35px;"
         src="{% static 'images/wave-webaim.png' %}"
         alt="WAVE (WebAIM) Approved" title="WAVE (WebAIM) Approved"
         height="35" width="37" /></a>
     </div>
     <section style="margin-left: 40px; margin-top:5px; font-size:10pt; ">
      Copyleft &copy;
          <span itemprop="copyrightYear"><time
                itemprop="dateCreated"
                datetime="2014-04-15">2014</time></span> &bull;
      <span itemprop="author"
            itemscope="itemscope"
            itemtype="http://schema.org/Person"><span
            itemprop="name">NOVA Web Development, LLC.</span><br />
      <span itemprop="workLocation"
            itemscope="itemscope"
            itemtype="http://www.schema.org/Place"><span
            itemprop="geo"
            itemscope="itemscope"
            itemtype="http://schema.org/GeoCoordinates"><meta
            itemprop="latitude"
            content="38.85072" /><meta
            itemprop="longitude"
            content="-77.125348" /></span>
      <span itemscope="itemscope"
            itemtype="http://www.schema.org/PostalAddress">
      <span itemprop="streetAddress">5041 7th Road South, #T1</span>
      &bull;
      <span itemprop="addressLocality">Arlington</span>,
      <span itemprop="addressRegion">VA</span>
      <span itemprop="postalCode">22204</span></span></span></span>
    </section>
    </footer>
    <div class="clearfloat"> </div>

</body>
</html>
