{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <div class="post" id="{{post.id}}">
      <hr />
      <div class="date">
        <p>published: {{post.publication_date}}</p>
      </div>
      <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
      <p>{{post.body|linebreaksbr}}</p>
    </div>
  {% endfor %}
{% endblock %}
