{% extends 'blog/base.html' %}

{% block content %}
  <div id="entry_{{ post.pk }}" class="post">
    {% if post.publication_date %}
      <div class="date">
        {{ post.publication_date }}
      </div>
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.body|linebreaksbr }}</p>
  </div>
{% endblock %}
