/************************************************************************
 *    NAME: blog.css                                                    *
 *  AUTHOR: Kevin Cole <kevin.cole@novawebdevelopment.org>              *
 *   WHERE: NOVA Web Development                                        *
 * LASTMOD: 2014.06.05                                                  *
 * PURPOSE: This is the cascading style sheet (CSS) for the Django      *
 *          Girls tutorial. See also my styles.css file.                *
 ************************************************************************/

header,
article {
    padding-left: 15px;
}

h1 a,
h2 a {
    color: #C25100;
}

header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

header h1,
header h1 a,
header h1 a:visited,
header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1,
h2,
h3,
h4 {
    font-family: "Lobster", cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

footer {
    background-color: #6D8AEC;
/*  position: static; */
    width: 100%;
    margin: 16% auto auto;
/*  height: auto;  */
}

footer #social {
    width:   300px;
    margin:  auto;
}

footer img {
    border: 0 none;
    height: 90px;
    margin: 15px auto;
    width: 90px;
}

footer #legal {
    font-size: 10pt;
    margin: 5px auto;
    text-align: center;
}
